@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');



body{
  font-family: 'DM Sans', sans-serif !important;
  background-color: white;
  font-weight: 500;
}

main {
  min-height: 80vh;
  background: white;
}

.container-page{
  padding: 0 1rem;

}

.carousel-item-next,.carousel-item-prev,.carousel-item-active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}
.carousel-inner {
  width: 100%;

}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  align-self: center;
}

.carousel a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-chatbot-mini{
  position: fixed;
  right: 30px;
  bottom: 10px;
  z-index: 20;
  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.container-chatbot-mini:hover{
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.container-chatbot{
  position: fixed;
  right: 40px;
  bottom: 30px;
  width: 350px;
  height: 450px;
  z-index: 22;
}

.navbar-brand{
  font-size: 2rem !important;
}

.navbar-light .navbar-nav .nav-link{
  color:'black';
  font-size: 18px;
  font-weight: bold;
}